@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	font-family: inter;
}

body {
	margin: 0;
}


header {
	background-color: #2e2321;
	color: #fff;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-style: italic;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

.nav-icon {
	visibility: hidden;
}

#hero {
	background-color: #eee;
	background-size: cover;
	font-weight: 900;
	font-size: 20px;
	display: flex;
	position: relative;
	height: 100vh;
}

.hero-division {
	background-color: black;
	opacity: 0.8;
	color: yellow;
	width: 35%;
	height: fit-content;
	margin-top: 4%;
	margin-left: 3%;
	padding: 2vh 3vw;
	border-radius: 5px;
	position: absolute;
	top: 6%;
}

.hero-division h2 {
	font-size: 3rem;
	font-weight: 900;
}

.hero-division>a {
	background-color: transparent;
	width: 120vw;
	text-align: center;
}

.hero-division button {
	color: red;
	font-size: 18px;
	font-weight: 700;
	margin-top: 2vh;
	padding: 2vh 1vw;
	background-color: yellow;
	border-radius: 3px;
	border: none;
	width: 70%;
	cursor: pointer;
	float: right;
}

.hero-division button:hover {
	background-color: transparent;
	border: 1px solid yellow;
	color: yellow;
	zoom: 2;
	transition: .5s ease-in;
}

#about {
	display: flex;
	color: white;
	background-color: black;
	padding-top: 5vh;
	justify-content: center;
	padding: 5vh 3vw;
}

#about img {
	width: 50%;
	margin-right: 3vw;
	height: 80vh;
}

.content {
	width: 50%;
	padding: 2vh;
	padding-right: 5vh;
	font-size: 1.5rem;
	height: fit-content;
	background-color: black;
	opacity: .9;
	border-radius: 5px;
}

.content button {
	padding: 2vh 2vw;
	margin-top: 2vh;
	margin-left: 10vw;
	width: 35vh;
	cursor: pointer;
	background-color: transparent;
	color: white;
	border-radius: 3px;
	border: 1px solid;
	font-size: 16px;
	font-weight: 600;
	transition: .3s ease-in-out;

}

.content button:hover {
	background-color: yellow;
	border: 1px solid black;
	color: black;
	border-radius: 5px;
}


footer {
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 20px;
}

.medias {
	margin-bottom: 1vh;
}

.medias i {
	background-color: yellow;
	color: black;
	padding: 1vh;
	border-radius: 3px;
	font-size: 20px;
	margin: 0vh .2vw;
}

/* TOURS PAGE STYLES */
.tours-body {
	background-color: black;
	color: white;
}

#p-6 {
	background-color: transparent;
	text-align: center;
	font-style: normal;
}

#p-6>h2 {
	color: yellow;
	margin-bottom: 2vh;
	font-weight: 600;
	font-size: 40px;
}

#p-6>h2:hover {
	color: white;
}

#p-6 div {
	width: 70%;
	text-align: left;
	height: max-content;
	margin-top: 3%;
}

#p-6 div>p:hover {
	color: yellow;
}

#p-6 div>p {
	font-size: 1.2rem;
	line-height: 5vh;
}

#p-6 div button,
.container button {
	padding: 1.5vh 3vw;
	font-size: 14px;
	font-weight: 600;
	border-radius: 5px;
	background-color: yellow;
	border: none;
	cursor: pointer;
	transition: transform 0.3s ease;
}

#p-6 div button:hover,
.container button:hover {
	color: yellow;
	background-color: transparent;
	border: 1px solid yellow;
	border-radius: 5px;
	transform: scale(1.1);
}

.cont-container {
	margin: 3vh;
	display: flex;
	padding: 0vh 10vw;
}

.cont-container img {
	width: 60%;
	border-radius: 8px;
	margin: 0vh 3vw;
	transition: transform 0.3s ease;
}

.cont-container img:hover {
	transform: scale(1.1);
}


.tour-hr {
	width: 60%;
	border: none;
	border-bottom: .1vh solid;
	margin: 15vh auto;
}

#team {
	background-color: #ab9d9d;
	text-align: center;
}


@media screen and (max-width: 650px) {
	.column {
		width: 100%;
		display: block;
	}
}

.container::after,
.row::after {
	content: "";
	clear: both;
	display: table;
}

.title {
	color: grey;
}

.button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
}

.button:hover {
	background-color: #555;
}

/* carousell */
.carousel {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.carousel-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	animation: carousel 10s infinite;
	opacity: 0;
}

.carousel-image:nth-child(1) {
	animation-delay: 0s;
}

.carousel-image:nth-child(2) {
	animation-delay: 5s;
}

.carousel-image:nth-child(3) {
	animation-delay: 10s;
}

@keyframes carousel {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	33% {
		opacity: 1;
	}

	53% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

/* ABOUT PAGE STYLES */
.about-body {
	background-color: black;
}

.about-body h5 {
	color: yellow;
	font-size: 1.9rem;
	margin: 0;
}

.row {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 2vw;
	padding-bottom: 2vh;
	height: fit-content;
}

#team h5 {
	margin-bottom: 2vh;
}

.card {
	padding: .6vh 1vh;
	height: 100%;
	box-shadow: 5px 10px 20px rgba(200, 200, 200, .6);
}


.who {
	text-align: center;
	background-image: url('/img/orlando.jpg');
	height: 80vh;
	opacity: .7;
	padding-top: 15vh;
	font-size: 1.6rem;
	color: black;
}

.hero-big {
	background-color: rgb(51, 46, 122);
	opacity: .9;
	padding: 1vh 2vh;
	width: 60%;
	margin: auto;
	border-radius: 5px;
	color: yellow;
	transition: 1s ease-in;
}

.hero-big:hover {
	animation: alternate-reverse;
}

.container p {
	height: 18vh;
}

/* ACTIVITIES PAGE */
.acti-body {
	background-color: black;
}

.intro {
	text-align: center;
}

.intro{
	color: yellow;
	width: 30%;
	margin: auto;
}

.charts {
	width: 100vw;
	height: 50vh;
	display: flex;
	background-color:white;
	border: 1px solid green;
	/* width: 65%; */
	width: fit-content;
	margin: auto;
	gap: 2vh;
	padding: 1vh 1vw;
	justify-content: space-between;
}

.charts div {
	flex: 50;
	height: 100%;
	width: fit-content;
}

.charts div canvas {
	width: 7vw;
	border: 1px solid black;
	height: 50vh;
}
.line canvas{
	height: 50vh;
}


/* RESPONSIVE STYLES */
@media screen and (max-width: 768px) {
	body {
		width: 100vw;
	}

	/* Home page */
	nav {
		width: 100vw;
	}

	nav ul {
		display: flex;
		flex-direction: column;
		float: right;
	}

	nav i {
		visibility: visible;
	}

	.carousel-image {
		width: 100vw;
		width: 100vh;
	}

	.hero-division {
		width: 90%;
	}

	#about {
		background-image: url('/img/img.jpg');
	}

	#about img {
		visibility: hidden;
	}

	.content {
		width: 90vw;
		opacity: .8;
	}

	/* TOURS PAGE */
	#p-6 div {
		width: 100%;
		flex-direction: column;
	}

	.cont-container {
		margin: none;
		padding: 0;
		text-align: center;
		justify-content: center;
	}

	.cont-container img {
		width: 75%;
		margin-top: 2vh;
	}

	.cont-container button {
		width: 80%;
		margin-right: 2vw;
	}

	/* About us page */
	.who {
		padding: 2vh;
		font-size: 1.3rem;
	}

	.hero-big {
		width: 80%;
	}

	.about-body h5 {
		font-size: 1rem;
	}

	.row {
		display: grid;
		grid-template-columns: auto;
		gap: 2vh;
		background-color: black;
	}

	.container p {
		height: fit-content;
	}

	.tour-hr {
		margin: 1vh;
		width: 97%;
	}

	.card {
		background-color: #AB9D9D;
	}
}