@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	font-family: inter;
}

body {
	margin: 0;
}


header {
	background-color: #2e2321;
	color: #fff;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-style: italic;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}


#hero {
	background-color: #eee;
	background-size: cover;
	font-weight: 900;
	font-size: 20px;
	display: flex;
	position: relative;
	height: 100vh;
}

.hero-division {
	background-color: black;
	opacity: 0.8;
	color: yellow;
	width: 35%;
	height: fit-content;
	margin-top: 4%;
	margin-left: 3%;
	padding: 2vh 3vw;
	border-radius: 5px;
	position: absolute;
	top: 6%;
}

.hero-division h2 {
	font-size: 3rem;
	font-weight: 900;
}

.hero-division>a {
	background-color: transparent;
	width: 120vw;
	text-align: center;
}

.hero-division button {
	color: red;
	font-size: 18px;
	font-weight: 700;
	margin-top: 2vh;
	padding: 2vh 1vw;
	background-color: yellow;
	border-radius: 3px;
	border: none;
	width: 70%;
	cursor: pointer;
	float: right;
}

.hero-division button:hover {
	background-color: transparent;
	border: 1px solid yellow;
	color: yellow;
	zoom: 2;
	transition: .5s ease-in;
}

#about {
	display: flex;
	color: white;
	background-color: black;
	padding-top: 5vh;
	justify-content: center;
	padding: 5vh 3vw;
}

#about img {
	width: 50%;
	margin-right: 3vw;
	height: 80vh;
}

.content {
	width: 50%;
	padding: 2vh;
	padding-right: 5vh;
	font-size: 1.5rem;
	height: fit-content;
	background-color: black;
	opacity: .9;
	border-radius: 5px;
}

.content button {
	padding: 2vh 2vw;
	margin-top: 2vh;
	margin-left: 10vw;
	width: 35vh;
	cursor: pointer;
	background-color: transparent;
	color: white;
	border-radius: 3px;
	border: 1px solid ;
	font-size: 16px;
	font-weight: 600;
	transition: .3s ease-in-out;

}

.content button:hover{
	background-color: yellow;
	border: 1px solid black;
	color: black;
	border-radius: 5px;
}


footer {
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 20px;
}
.medias{
	margin-bottom: 1vh;
}
.medias i{
	background-color: yellow;
	color: black;
	padding: 1vh;
	border-radius: 3px;
	font-size: 20px;
	margin: 0vh .2vw;
}

#p-6 {
	background-color: #ccc;
	text-align: center;
	position: relative;
	font-style: normal;
}

#who {
	background-color: #eee;
	text-align: center;
}

h5 {
	font-weight: bold;
	color: #131111;
	font-size: 40px;
}



#team {
	background-color: #ab9d9d;
	text-align: center;
}


*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.column {
	float: left;
	width: 50%;
	margin-bottom: 16px;
	padding: 0 8px;
}

@media screen and (max-width: 650px) {
	.column {
		width: 100%;
		display: block;
	}
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
	padding: 0 16px;
	grid-template-columns: 200px 200px;
	grid-row: auto auto;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.container::after,
.row::after {
	content: "";
	clear: both;
	display: table;
}

.title {
	color: grey;
}

.button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
}

.button:hover {
	background-color: #555;
}

/* carousell */
.carousel {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.carousel-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	animation: carousel 10s infinite;
	opacity: 0;
}

.carousel-image:nth-child(1) {
	animation-delay: 0s;
}

.carousel-image:nth-child(2) {
	animation-delay: 5s;
}

.carousel-image:nth-child(3) {
	animation-delay: 10s;
}

@keyframes carousel {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	33% {
		opacity: 1;
	}

	53% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}