body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #2e2321;
	color: #fff;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-style:italic;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

section {
	padding: 50px;
}

#hero {
	background-color: #eee;
	text-align: center;
}

#about {
	background-color: #ccc;
	text-align: center;
	position: relative;
	font-style:italic;
}

#about img {
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	margin-top: 20px;
	text-decoration: none;
}

footer {
	background-color: #2e2321;
	color: #fff;
	display: flex;
	text-align: center;
	padding: 20px;
}

#p-6{
    background-color: #ccc;
	text-align: center;
	position: relative;
	font-style:normal;
}

#who {
	background-color: #eee;
	text-align: center;
}

 h5 {
	font-weight: bold;
	color: #131111;
	font-size: 40px;
}

 p {
	color: black;
	font-size: 18px;
	text-indent: 20px;
 }

 #team {
	background-color: #ab9d9d;
	text-align: center;
}

html {
	box-sizing: border-box;
  }
  
  *, *:before, *:after {
	margin:0;
  	padding:0;
  	box-sizing:border-box;
  }
  
  .column {
	float: left;
	width: 50%;
	margin-bottom: 16px;
	padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
	.column {
	  width: 100%;
	  display: block;
	}
  }
  
  .card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container {
	padding: 0 16px;
	grid-template-columns: 200px 200px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  }
  
  .container::after, .row::after {
	content: "";
	clear: both;
	display: table;
  }
  
  .title {
	color: grey;
  }
  
  .button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
  }
  
  .button:hover {
	background-color: #555;
  }

 